<style>
        /* type="text/css" yazmana gerek yok, varsayılan budur */
        h1 {
            font-size: 24pt; /* Boşluksuz yazılması daha doğrudur */
            color: red;
            text-decoration: underline; /* Tire eklendi */
            font-family: tahoma, helvetica, sans-serif;
        }
        em {
            font-style: normal;
            color: red;
            background-color: yellow;
            font-weight: bold;
        }
        /* Tablo sınırlarını görmek için basit bir stil */
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
