
        a:hover {
            text-decoration: none;
        }
        h1 {
            font-size: 24pt; 
            color: red;
            text-decoration: underline; 
            font-family: tahoma, helvetica, sans-serif;
        }
        em {
            font-style: normal;
            color: red;
            background-color: yellow;
            font-weight: bold;
        }
        
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        li:first-child {
            border: thick solid green;
            margin-bottom: 1em;
            margin-top: 1em;
            padding: 1ex;
            width: 40%;
        }
        .centered {
            text-align: center;
            text-indent: 3mm;
        }
        
    
