a:hover { 
    text-decoration: none; 
}

h1 {
    font-size: 24pt;
    color: red;
    text-decoration: underline;
    font-family: tahoma, helvetica, sans-serif;
}


strong {
    font-style: normal;
    color: red;
    background-color: yellow;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s; 
}

strong:hover {
    color: orange;      
    background-color: lightgreen;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

li:first-child {
    border: thick solid green;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1ex;
    width: 40%;
}

.centered {
    text-align: center;
    text-indent: 3mm;
    text-emphasis-color: red;
    text-emphasis-style: "*";
    text-shadow: 2px 2px yellow;
}

.center-icon img {
    display: inline-block;
    margin: 0 auto;
}

.center-icon {
    text-align: center;
}

ol {
    border: thick solid purple;
    margin-bottom: 1em;
    padding: 4ex;
    margin-top: 1em;
    width: 50%;
    background-color: aquamarine;
}

th {
    background-color: orange;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
